* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background:white;
  padding: 0 16px;
}

.navbar {
  overflow: hidden;
  background-color: rgb(241, 204, 129);
  position: fixed; 
  top: 0; 
  width: 100%; 
 
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;

}

.navbar a:hover {
  background :rgb(241, 204, 129);
  color: black;
  
}

.name{
 text-align: center;
 margin-top: 30px;
 margin-left: 0%;
 margin-right: 0%;
 
}

.name1{
  text-align: center;
  margin-top: 80px;
  margin-left: 0%;
  margin-right: 0%;
  
 }
 


.first{
  background-color:rgb(241, 204, 129);
  border-radius: 5px;
  padding: 30px 20px;
  width: 1400px;
  height:400px;
  margin: 10px 50px;
  
}

.insidefirst{
  width: 50%;
  height: 100%;
  background-color:white;
  float: left;
 
}
 .insidefirst img {
  width:100%;
  height:100%;
  max-width :100%;
  max-height:100%;
 
}

.insidefirst2{
  width: 48%;
  height: 100%;
  margin-left: 52%;
  margin-top:0px;
  
}

.insidesecond{
  width: 50%;
  height: 100%;
  float: left;
  
}

.insidesecond2{
  width: 48%;
  height: 100%;
  margin-left: 52%;
  margin-top:0px;
  background-color:white;
  
}

.insidesecond2 img {
  width:100%;
  height:100%;
  max-width :100%;
  max-height:100%;
  
}

.third{
  background-color:white;
  border-radius: 5px;
  width: 1400px;
  height:400px;
  margin: 10px 50px;
  
}

.insidethird{
  border-radius:5px;
  width: 30%;
  height: 100%;
  float: left;
  background-color:rgb(241, 204, 129);
  
}

.insidethird2{
  border-radius:5px;
  width: 30%;
  height: 100%;
  margin-left:5%;
  margin-top:0px;
  background-color:rgb(241, 204, 129);
  float:left;
  
}

.insidethird3{
  border-radius:5px;
  width: 30%;
  height: 100%;
  margin-left: 70%;
  margin-top:0px;
  background-color:rgb(241, 204, 129);
  
}

.fourth{
  width: 1400px;
  height:300px;
  background-color:rgb(241, 204, 129);
  border-radius: 5px;
  padding: 30px 20px;
  margin: 10px 50px;
 
}
.insidefourth{
  background-color:white;
  width: 99%;
  height: 100%;
  margin-top:5px;
  
}

.insidefifth{
  border-radius:5px;
  width: 28%;
  height: 100%;
  float: left;
  background-color:rgb(241, 204, 129);
  
}

.insidefifth2{
  border-radius:5px;
  width: 28%;
  height: 100%;
  margin-left:8%;
  margin-top:0px;
  background-color:rgb(241, 204, 129);
  float:left;
  
}

.insidefifth3{
  border-radius:5px;
  width: 28%;
  height: 100%;
  margin-left: 72%;
  margin-top:0px;
  background-color:rgb(241, 204, 129);
  
}

.insidefifth img {
  width:100%;
  height:100%;
  max-width :100%;
  max-height:100%;
}

.insidefifth2 img {
  width:100%;
  height:100%;
 max-width :100%;
 max-height:100%;
}

.insidefifth3 img {
  width:100%;
  height:100%;
  max-width :100%;
  max-height:100%;
}






